*{box-sizing: border-box;}
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}
nav {
  background: #413F3C;
  position: sticky;
  top: 0;
  z-index: 100;
}
nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav ul:after {
  content: "";
  display: table;
  clear: both;
}
nav a {
  text-decoration: none;
  display: block;
  transition: .3s linear;
}
.topmenu > li {
  position: relative;
  &:before{
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    content: '';
    width: 1px;
    height: 70px;
    background-color: #000;
    transform: translateY(-50%);
  }
}
.topmenu > li:first-child{
  &:before{
    display: none;
  }
}
.topmenu > li > a {
  padding: 20px 30px;
  font-size: 12px;
  text-transform: uppercase;
  color: #FEFDFD;
  letter-spacing: 2px;
}
.topmenu > li > a.active,
.submenu a.active,
.submenu a:hover {color: #ddbe86;}
.topmenu .fa,
.submenu .fa {
  margin-left: 5px;
  color: inherit;
}
.submenu {
  position: absolute;
  z-index: 5;
  min-width: 200px;
  background: white;
  border-top: 1px solid #CBCBCC;
  border-left: 1px solid #CBCBCC;
  border-right: 1px solid #CBCBCC;
  visibility: hidden;
  opacity: 0;
  transform-origin: 0% 0%;
  transform: rotateX(-90deg);
  transition: .3s linear;
  display: flex;
  flex-direction: column;
}
.submenu li {position: relative;}
.submenu li a {
  color: #282828;
  padding: 10px 20px;
  font-size: 13px;
  border-bottom: 1px solid #CBCBCC;
  text-align: center;
}
.submenu .submenu {
  position: absolute;
  left: 100%;
  top: -1px;
  transition: .3s linear;
}
nav li:hover > .submenu {
  transform: rotateX(0deg);
  visibility: visible;
  opacity: 1;
}
.topmenu{
  img.logo {
    width: 100px;
    height: auto;
  }
}