* {
  margin: 0;
  padding: 0;
}
ul, li{
  list-style: none;
  padding: 0;
  margin: 0;
}
html,
body {
  height: 100%;
}
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.wrapper-content {
  overflow: auto;
  min-height: calc(100vh - 205px);
  @media screen and (max-width: 900px) {
    min-height: calc(100vh - 180px);
    margin-top: 50px;
  }
}

.wrapper_text{
  margin: 0 auto 20px;
  @media screen and (max-width: 900px) {
    margin: 0 10px;
  }
  max-width: 1024px;
  &.long_text{
    p {
      text-indent: 25px;
      margin-bottom: 10px;
    }
  }

  h1, h2, h3,h4{
    text-indent:25px;
    padding-top: 20px;
    padding-bottom: 10px;
  }
  ul, li{
    padding-left: 30px;
    margin-bottom: 10px;
    @media screen and (max-width: 900px) {
      padding-left: 10px;
      margin-bottom: 5px;

    }
  }
  a{
    color: #1b84eb;
    font-style: italic;
  }
}