.swiper-block{
  max-width: 1024px;
  margin: 0 auto;
  .slide{
    position: relative;
    .swiper_text{
      position: absolute;
      bottom: 0;
      left: 0;
      min-height: 50px;
      background-color: rgba(0, 0, 0, 0.5);
      width: 100%;
      color: #b2b0b0;
      padding: 1em;
    }
  }

}