.seminars_datapicker{
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  padding-right: 1rem;
}
.courses-header{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}