.course{
  &_items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &_item{
    max-width: 300px;
    .module_items{
      display: none;
      &.active{
        display: flex;
      }
    }
  }
}